In [8]:
def get_orm(sql_str):
    complete = sql_str.split("\n")
    table_names = []
    for i in complete:
        table_names += [i.split("`")[1] + " = db.Column(db.String(50))"]
    res = "\n".join(table_names)
    print(res)

sql_str = """`Employee_ID` varchar(50) NOT NULL,
  `Procedure_Name` varchar(50) NOT NULL,
  `Date_of_Completion` varchar(50) NOT NULL,
  `CPT` varchar(50) NOT NULL,
  `Total` varchar(50) NOT NULL,
  `Performed` varchar(50) NOT NULL,
  `Observed` varchar(50) NOT NULL,
  `Verified` varchar(50) NOT NULL,
  `Certified` varchar(50) NOT NULL,
  `Procedure_Log_deleted` int(11) NOT NULL,"""

get_orm(sql_str)

Employee_ID = db.Column(db.String(50))
Procedure_Name = db.Column(db.String(50))
Date_of_Completion = db.Column(db.String(50))
CPT = db.Column(db.String(50))
Total = db.Column(db.String(50))
Performed = db.Column(db.String(50))
Observed = db.Column(db.String(50))
Verified = db.Column(db.String(50))
Certified = db.Column(db.String(50))
Procedure_Log_deleted = db.Column(db.String(50))

In [9]:
def get_tables(sql_str):
    complete = sql_str.split("\n")
    table_names = []
    for i in complete:
        table_names += ["`" + i.split("`")[1] + "`"]
    res = ",".join(table_names)
    print(res)

def get_examples(sql_str):
    complete = sql_str.split("\n")
    table_names = []
    for i in complete:
        table_names += ["'" + i.split("`")[1] + "111'"]
    res = ",".join(table_names)
    print(res)

get_tables(sql_str)
print("\n\n")
get_examples(sql_str)

`Employee_ID`,`Procedure_Name`,`Date_of_Completion`,`CPT`,`Total`,`Performed`,`Observed`,`Verified`,`Certified`,`Procedure_Log_deleted`



'Employee_ID111','Procedure_Name111','Date_of_Completion111','CPT111','Total111','Performed111','Observed111','Verified111','Certified111','Procedure_Log_deleted111'

In [7]:
sql_str = """`Employee_ID` varchar(50) NOT NULL,
  `Project_Type` varchar(50) NOT NULL,
  `Project_Title` varchar(100) NOT NULL,
  `Project_ID` varchar(50) NOT NULL,
  `Start_Date` varchar(50) NOT NULL,
  `End_Date` varchar(50) NOT NULL,
  `Date_of_QI_Certification` varchar(50) DEFAULT NULL,
  `PMID` varchar(50) DEFAULT NULL,
  `Project_deleted` tinyint(1) DEFAULT '0',"""

get_orm(sql_str)
print("\n\n")
get_tables(sql_str)
print("\n\n")
get_examples(sql_str)

Employee_ID = db.Column(db.String(50))
Project_Type = db.Column(db.String(50))
Project_Title = db.Column(db.String(50))
Project_ID = db.Column(db.String(50))
Start_Date = db.Column(db.String(50))
End_Date = db.Column(db.String(50))
Date_of_QI_Certification = db.Column(db.String(50))
PMID = db.Column(db.String(50))
Project_deleted = db.Column(db.String(50))



`Employee_ID`,`Project_Type`,`Project_Title`,`Project_ID`,`Start_Date`,`End_Date`,`Date_of_QI_Certification`,`PMID`,`Project_deleted`



'Employee_ID111','Project_Type111','Project_Title111','Project_ID111','Start_Date111','End_Date111','Date_of_QI_Certification111','PMID111','Project_deleted111'

In [8]:
sql_str = """`Employee_ID` varchar(50) NOT NULL,
  `Publication_Title` varchar(50) NOT NULL,
  `Journal_Title` varchar(50) NOT NULL,
  `PMID` varchar(50) NOT NULL,
  `Publication_Date` varchar(50) NOT NULL,
  `Publication_deleted` tinyint(1) DEFAULT '0',"""


get_orm(sql_str)
print("\n\n")
get_tables(sql_str)
print("\n\n")
get_examples(sql_str)

Employee_ID = db.Column(db.String(50))
Publication_Title = db.Column(db.String(50))
Journal_Title = db.Column(db.String(50))
PMID = db.Column(db.String(50))
Publication_Date = db.Column(db.String(50))
Publication_deleted = db.Column(db.String(50))



`Employee_ID`,`Publication_Title`,`Journal_Title`,`PMID`,`Publication_Date`,`Publication_deleted`



'Employee_ID111','Publication_Title111','Journal_Title111','PMID111','Publication_Date111','Publication_deleted111'

In [7]:
sql_str = """`MCR_No` varchar(50) NOT NULL,
  `Title` varchar(50) NOT NULL,
  `Type` varchar(50) NOT NULL,
  `Project_ID` varchar(50) NOT NULL,
  `Conference_Name` varchar(50) NOT NULL,
  `Country` varchar(50) NOT NULL,
  `Presentation_Date` varchar(50) NOT NULL,
  `Presentation_deleted` int(11) NOT NULL DEFAULT '0'"""

get_orm(sql_str)
print("\n\n")
get_tables(sql_str)
print("\n\n")
get_examples(sql_str)

MCR_No = db.Column(db.String(50))
Title = db.Column(db.String(50))
Type = db.Column(db.String(50))
Project_ID = db.Column(db.String(50))
Conference_Name = db.Column(db.String(50))
Country = db.Column(db.String(50))
Presentation_Date = db.Column(db.String(50))
Presentation_deleted = db.Column(db.String(50))



`MCR_No`,`Title`,`Type`,`Project_ID`,`Conference_Name`,`Country`,`Presentation_Date`,`Presentation_deleted`



'MCR_No111','Title111','Type111','Project_ID111','Conference_Name111','Country111','Presentation_Date111','Presentation_deleted111'

In [27]:
sql_str = """`Involvement_Type` varchar(50) NOT NULL,
  `MCR_No` varchar(50) NOT NULL,
  `Event` varchar(50) NOT NULL,
  `Role` varchar(50) NOT NULL,
  `Start_Date` varchar(50) NOT NULL,
  `End_Date` varchar(50) NOT NULL,
  `Involvement_deleted` tinyint(1) DEFAULT '0',"""

def get_tables(sql_str):
    complete = sql_str.split("\n")
    print(complete)
    print(complete[0].split("`")[1])
    table_names = []
    for i in complete:
      # print(i.split("`")[1])
      table_names += ["`" + i.split("`")[1] + "`"]
    res = ",".join(table_names)
    print(res)

get_tables(sql_str)

['`Involvement_Type` varchar(50) NOT NULL,', '  `MCR_No` varchar(50) NOT NULL,', '  `Event` varchar(50) NOT NULL,', '  `Role` varchar(50) NOT NULL,', '  `Start_Date` varchar(50) NOT NULL,', '  `End_Date` varchar(50) NOT NULL,', "  `Involvement_deleted` tinyint(1) DEFAULT '0',"]
Involvement_Type
`Involvement_Type`,`MCR_No`,`Event`,`Role`,`Start_Date`,`End_Date`,`Involvement_deleted`

In [28]:
get_examples(sql_str)

'Involvement_Type111','MCR_No111','Event111','Role111','Start_Date111','End_Date111','Involvement_deleted111'

In [ ]:
# https://hackersandslackers.com/flask-routes/